chromadb==1.5.9
langchain_community==0.4.2
langchain_core==1.4.9
langchain_google_genai==4.2.7
langgraph==1.2.9
matplotlib==3.11.0
mplsoccer==1.6.1
numpy==2.5.1
pandas==3.0.3
python-dotenv==1.2.2
soccerdata==1.9.0
sqlite3==3.53.3